asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.5
Django==6.0.2
django-cors-headers==4.9.0
django-mongodb-backend==6.0.2
djangorestframework==3.16.1
dnspython==2.8.0
drf-yasg==1.21.11
gunicorn==23.0.0
idna==3.11
inflection==0.5.1
numpy==2.2.0
packaging==26.0
pymongo==4.16.0
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
whitenoise==6.9.0